@keyframes changeColor {
    from {
      color: rgb(243, 244, 248);
      padding: 0px 1px;
      margin: 0px 1px;
    }
  
    to {
      color: rgb(26, 35, 35);
      padding: 0px 1px;
      margin: 0px 1px;
    }
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }