/* *********************  VARIABLES ******************** */
$gray-600: #6c757d;
$grisOscuro: #4a4848;
$colorNav: #0f6162;
$colorRojo: #da1616;
$rojoDebil: #dc3545;
$colorBlancoDebil: #f3f4f8;
$verdeOscuro : #1a2323;
$blancoHovers: #f8f2f2;
$hoverParrafos: #0c3e3c;
$marronOscuro: #321f1f;
$turquesa: #5fc199;
$azulOscuro: #20114b;