@mixin size($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

@mixin margenes($superior: 2px, $derecho: 2px, $inferior: 1px, $izquierdo: 2px) {
    margin-top: $superior;
    margin-right: $derecho;
    margin-bottom: $inferior;
    margin-left: $izquierdo;
}

@mixin padding ($superior: 3px, $derecho: 2px, $inferior: 1px, $izquierdo: 2px) {
    padding-top: $superior;
    padding-right: $derecho;
    padding-bottom: $inferior;
    padding-left: $izquierdo;
}

@mixin contenedorParrafo ($alineaciontexto, $colorTexto, $borde, $tamanioTexto, $paddingx4, $marginx4) {
    text-align: $alineaciontexto;
    color: $colorTexto;
    border: $borde;
    font-size: $tamanioTexto;
    padding: $paddingx4;
    margin: $marginx4;
}

@mixin grid ($gridEnable: grid, $gapCol: 1rem, ) {
    grid: $gridEnable;
    column-gap: $gapCol;
}

@mixin hover-color($color) {
    &:hover {
        color: $color;
    }
}