/*  ******* NAVBAR ******** */

/* .colorFondo {
    background-color: $colorNav;
    transition: 2s;

    a {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: large;

        &:hover {
            border-bottom: 0.1rem solid $blancoHovers;
            color: $blancoHovers;
        }
    }
} */