$color: rgb(15, 97, 98);
$colorRojo: rgb(107, 16, 16);
$colorBlancoDebil: rgb(243, 244, 248);
$verdeOscuro : rgb(26, 35, 35);
$blancoHovers: rgb(248, 242, 242);
$hoverParrafos: rgb(12, 62, 60);
$marronOscuro: rgb(50, 31, 31);