@import "varGlobal";
@import "fonts";
@import "reset";
@import "animaciones";
@import "mediaQueries";
@import "classTemplate";
@import "mixins";
@import "navBar";
@import "forms";
@import "footer";

.mentors {
  text-align: center;
  margin: auto;
}

.video section {
  padding: auto;
}

.youtube {
  margin: 5px;
  max-height: 200px;
  max-width: 350px;
  border: 3px solid black;
  transition: 1.5s;

  &:hover {
    border-radius: 12%;
    border: 3px white solid;
  }
}

.news li p {
  font-weight: bold;
  animation-duration: 4s;
  animation-name: slidein;

  &:hover {
    color: red;
    padding-left: 50%;
    border-left: 5px solid red;
    transition: 1.5s;
    text-transform: uppercase;
    font-weight: 1200;
  }
}

.news h1,
.mentors,
span {
  text-align: center;
  text-transform: capitalize;
  animation-duration: 5s;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.news h1,
.mentors,
span {
  font-weight: bolder;
}

.news div {
  margin: 40px;
  padding: 40px;

  p {
    padding: 5px 30px;
  }
}

.efectoFondo2 {
  transition: 1s;

  &:hover {
    border: 0.1rem solid white;
    background-color: $color;
    border-radius: 5%;
  }
}

.efectoFondo3 a {
  transition: 1s;
  color: white;

  &:hover {
    color: black;
  }
}

.icon {
  padding: 5px;
  margin: 5px;
  width: 3rem;
  transition: 1s, border 0.5s;

  &:hover {
    border-bottom: 3px solid white;
    padding: auto;
    width: 2rem;
  }
}

.gridServ {
  display: grid;
  grid-template-columns: (2, 1fr);
  grid-template-rows: (2, 1fr);
  column-gap: 1rem;
  grid-template-areas:
    "honorarios honorarios"
    "servicios servicios"
    "developer abogado";
}

.servicios {
  grid-area: servicios;
}

.arancelesAb {
  grid-area: abogado;
  font-size: medium;
  color: white;
  padding: 1rem;
  text-align: start;
}

.arancelesDev {
  grid-area: developer;
  font-size: medium;
  color: white;
  padding: 1rem;
  text-align: start;
}

.repos {
  text-align: justify;
  padding: auto;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: 2, 1fr;
  grid-template-areas: "gitHub otrosRepos";

  h1 a {
    color: black;
  }
}

.gitHubRepos {
  grid-area: gitHub;
  padding: 2rem;
  margin: 3rem;
}

.otrosRepos {
  grid-area: otrosRepos;
  padding: 2rem;
  margin: 3rem;
}

.colorBotonPred {
  background-color: $color;

  &:hover {
    background-color: rgb(12, 62, 60);
    transition: 1s;
  }
}

.honorarios {
  text-align: center;
}