@import 'mixins', 'reset', 'fonts';


/* *********************  VARIABLES ******************** */
$gray-600: #6c757d;
$grisOscuro: #4a4848;
$colorNav: #0f6162;
$colorRojo: #da1616;
$rojoDebil: #dc3545;
$colorBlancoDebil: #f3f4f8;
$verdeOscuro : #1a2323;
$blancoHovers: #f8f2f2;
$hoverParrafos: #0c3e3c;
$marronOscuro: #321f1f;
$turquesa: #5fc199;
$azulOscuro: #20114b;

/* ************** ANIMACIONES ******************** */

@keyframes changeColor {
  from {
    color: $colorBlancoDebil;
    padding: 0px 1px;
    margin: 0px 1px;
  }

  to {
    color: $verdeOscuro;
    padding: 0px 1px;
    margin: 0px 1px;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*   ********************** CLASES BOOTSTRAP ******************** */
.navbar {
  background-color: $colorNav;
  transition: 3s;
  min-height: 20vh;
  font-size: 1.8rem;
  margin: auto, 3rem;

}

a {
  padding: auto;
  margin: auto;



  &:hover {
    border-radius: 0.5rem;
    border-bottom: 0.1rem solid $marronOscuro;
    background-color: $blancoHovers;
    font-size: 2rem;
    padding: 0, 1rem;
  }
}

.container-fluid {
  margin: 0;
  padding: 0;

  main {
    background-color: $colorBlancoDebil;
    padding: 2rem;
  }
}

.btn-primary {
  background-color: $verdeOscuro;

  &:hover {
    /* modificacion de backgroud-color en hover de bootstrap, no me permite
    aplicar el color almacenado en una variable */
    --bs-btn-hover-bg: #dc3545;
    transition: 1s;
  }
}

.bg-gradient {
  background-color: #dee2e6;
}

/* ***************** clases inicio ************************** */
.news li p {
  font-weight: bold;
  animation-duration: 4s;
  animation-name: slidein;

  &:hover {
    color: $colorRojo;
    padding-left: 50%;
    border-left: 5px solid $colorRojo;
    transition: 1.5s;
    text-transform: uppercase;
    font-weight: 1200;
  }
}

.fade1 {
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  animation-duration: 5s;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.news div {
  margin: 5px;
  padding: 5px;

  p {
    padding: 5px;
  }
}

.efectoFondo2 {
  transition: 1s;

  &:hover {
    border: solid $blancoHovers;

  }

  li {
    a {
      color: #dc3545;
    }

    &:hover {
      color: $blancoHovers;
      transition: 1s;
    }
  }
}

.efectoFondo3 a {
  transition: 1s;
  color: $azulOscuro;

  &:hover {
    color: $blancoHovers;
  }
}

.icon {
  margin: 2rem;
  width: 4rem;
  transition: 1s, border 0.5s;

  &:hover {
    border-bottom: 3px solid $blancoHovers;
    width: 3.5rem;
  }
}

.honorarios {
  text-align: center;
}

/* ********************** VIDEOS ****************** */
.mentors {
  text-align: center;
  margin: auto;
}

.video section {
  padding: auto;
}

.youtube {
  @include hover-color($blancoHovers);
  margin: 5px;
  max-height: 200px;
  max-width: 350px;
  border: 3px solid black;
  transition: 1.5s;

  &:hover {
    border-radius: 12%;
    border: 3px solid;
  }
}

/* ******************* FOOTER **************** */

footer {
  width: 100%;
}

.footerClass {
  background-color: $colorNav;
  height: 30vh;

  div {
    padding: 1rem;
  }
}