@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.registro {
    padding: 8rem 2rem;
}

.footerClass {    
    background-color: rgb(15, 97, 98);
    height: auto;

}

.colorFondo {    
    background-color: rgb(15, 97, 98);
    transition: 2s;

}

.colorFondo a:hover {
    border-bottom: 3px solid white;
    color: white;

}

.efectoFondo2{
   transition: 1s; 
}

.efectoFondo2:hover{
    border: 0.1rem solid white;
    background-color: rgb(15, 97, 98);
    border-radius: 5%;        
}

.efectoFondo3 a {
    transition: 1s;
    color:white;
}

.efectoFondo3 a:hover {
    color: black;   
}


.footerClass div {
    height: auto;    
}

.icon {
    padding: 0.5;
    margin: 1rem;
    width: 4rem;
    transition: 1s, border 0.5s;
}

.icon:hover {
    border-bottom: 3px solid white;
    padding: auto;
    width: 2.5rem;
}
.gridServ {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);    
    grid-template-areas:
    "servicios servicios"
    "developer abogado"    
    ;
}

.servicios {
    grid-area: servicios;
    
}

.arancelesAb {
    grid-area: abogado;
    font-size: medium;
    color: white;    
}

.arancelesDev{
    grid-area: developer;
    font-size: medium;
    color: white;    
}

.repos {
    text-align: justify;
    padding: auto;
    display: grid;   
    gap: 0.1rem;
    grid-template-columns: 2,1fr;
    grid-template-areas: 
    "gitHub otrosRepos"
    ;
}

.repos h1 a {
    color: black;
}

 
.gitHubRepos {
    grid-area: gitHub;
    padding: 2rem;
    margin: 3rem;
}

.otrosRepos {
    grid-area: otrosRepos;
    padding: 2rem;
    margin: 3rem;
}