/*  ********************* RESET ********************** */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: medium;
}

/* *********************** FUENTES ******************** */
/* *********************  VARIABLES ******************** */
/* ************** ANIMACIONES ******************** */
@-webkit-keyframes changeColor {
  from {
    color: #f3f4f8;
    padding: 0px 1px;
    margin: 0px 1px;
  }
  to {
    color: #1a2323;
    padding: 0px 1px;
    margin: 0px 1px;
  }
}
@keyframes changeColor {
  from {
    color: #f3f4f8;
    padding: 0px 1px;
    margin: 0px 1px;
  }
  to {
    color: #1a2323;
    padding: 0px 1px;
    margin: 0px 1px;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*   ********************** CLASES BOOTSTRAP ******************** */
/* **************** BODY y MAIN *****(CLASE DE BOOTSTRAP) */
.container-fluid {
  margin: 0;
  padding: 0;
}
.container-fluid main {
  background-color: rgb(170, 159, 88);
  padding: 2rem;
}

/*  **************************** NAV DE BOOTSTRAP  ********************/
.navbar {
  background-color: #0f6162;
  transition: 3s;
  min-height: 17vh;
  font-size: 1.6rem;
  padding: 3rem;
}
.navbar a {
  color: #f3f4f8;
  padding: auto;
  margin: auto, 3rem;
}
.navbar a:hover {
  border-radius: 0.5rem;
  border-bottom: 0.1rem solid black;
  background-color: #178486;
  font-size: 1.7rem;
  padding: 0, 1rem;
}

/*   *************** BOTONES (CLASE DE BOOTSTRAP) ********  */
.btn-primary {
  background-color: #1a2323;
}
.btn-primary:hover {
  /* modificacion de backgroud-color en hover de bootstrap, no me permite
  aplicar el color almacenado en una variable */
  --bs-btn-hover-bg: #dc3545;
  transition: 1s;
}

/* ***************** clases CSS ************************** */
/*    ************** HOME (INICIO) *************   */
.news li p {
  font-weight: bold;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}
.news li p:hover {
  color: #da1616;
  padding-left: 50%;
  border-left: 5px solid #da1616;
  transition: 1.5s;
  text-transform: uppercase;
  font-weight: 1200;
}

.fade1 {
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.news div {
  margin: 5px;
  padding: 5px;
}
.news div p {
  padding: 5px;
}

/*  ********* EFECTOS CSS **************  */
.serviciosProfesionales {
  transition: 2s;
}
.serviciosProfesionales:hover {
  border-radius: 1rem;
  border: solid #f8f2f2;
  background-color: rgb(184, 174, 108);
}
.serviciosProfesionales li a {
  color: #dc3545;
}
.serviciosProfesionales li:hover {
  color: #f8f2f2;
  transition: 2s;
}

.honorarios {
  width: auto;
  text-align: center;
  transition: 4s;
}
.honorarios:hover {
  border-radius: 1rem;
  background-color: #178486;
  transition-duration: 5s;
}

.carrusel {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  min-height: 300px;
}

/* ********************** VIDEOS ****************** */
.mentors {
  text-align: center;
  margin: auto;
}

.video section {
  padding: auto;
}

.youtube {
  margin: 5px;
  max-height: 200px;
  max-width: 350px;
  border: 3px solid black;
  transition: 1.5s;
}
.youtube:hover {
  color: #f8f2f2;
}
.youtube:hover {
  border-radius: 12%;
  border: 3px solid;
}

/* ******************* FOOTER **************** */
footer {
  width: 100%;
}
footer .footerClass {
  background-color: #0f6162;
  height: 8rem;
}
footer .footerClass img {
  margin: 2rem;
  width: 4rem;
  transition: 1s, border 0.5s;
}
footer .footerClass img:hover {
  border-bottom: 3px solid #f8f2f2;
  width: 3.5rem;
}

.citas p {
  color: #321f1f;
}/*# sourceMappingURL=style.css.map */