/*  ********************* RESET ********************** */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: medium;
}

/* *********************** FUENTES ******************** */
/* *********************  VARIABLES ******************** */
/* ************** ANIMACIONES ******************** */
@-webkit-keyframes changeColor {
  from {
    color: #f3f4f8;
    padding: 0px 1px;
    margin: 0px 1px;
  }
  to {
    color: #1a2323;
    padding: 0px 1px;
    margin: 0px 1px;
  }
}
@keyframes changeColor {
  from {
    color: #f3f4f8;
    padding: 0px 1px;
    margin: 0px 1px;
  }
  to {
    color: #1a2323;
    padding: 0px 1px;
    margin: 0px 1px;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*   ********************** CLASES BOOTSTRAP ******************** */
.navbar {
  background-color: #0f6162;
  transition: 3s;
  min-height: 20vh;
  font-size: 1.8rem;
  margin: auto, 3rem;
}

a {
  padding: auto;
  margin: auto;
}
a:hover {
  border-radius: 0.5rem;
  border-bottom: 0.1rem solid #321f1f;
  background-color: #f8f2f2;
  font-size: 2rem;
  padding: 0, 1rem;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
.container-fluid main {
  background-color: #f3f4f8;
  padding: 2rem;
}

.btn-primary {
  background-color: #1a2323;
}
.btn-primary:hover {
  /* modificacion de backgroud-color en hover de bootstrap, no me permite
  aplicar el color almacenado en una variable */
  --bs-btn-hover-bg: #dc3545;
  transition: 1s;
}

.bg-gradient {
  background-color: #dee2e6;
}

/* ***************** clases inicio ************************** */
.news li p {
  font-weight: bold;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}
.news li p:hover {
  color: #da1616;
  padding-left: 50%;
  border-left: 5px solid #da1616;
  transition: 1.5s;
  text-transform: uppercase;
  font-weight: 1200;
}

.fade1 {
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.news div {
  margin: 5px;
  padding: 5px;
}
.news div p {
  padding: 5px;
}

.efectoFondo2 {
  transition: 1s;
}
.efectoFondo2:hover {
  border: solid #f8f2f2;
}
.efectoFondo2 li a {
  color: #dc3545;
}
.efectoFondo2 li:hover {
  color: #f8f2f2;
  transition: 1s;
}

.efectoFondo3 a {
  transition: 1s;
  color: #20114b;
}
.efectoFondo3 a:hover {
  color: #f8f2f2;
}

.icon {
  margin: 2rem;
  width: 4rem;
  transition: 1s, border 0.5s;
}
.icon:hover {
  border-bottom: 3px solid #f8f2f2;
  width: 3.5rem;
}

.honorarios {
  text-align: center;
}

/* ********************** VIDEOS ****************** */
.mentors {
  text-align: center;
  margin: auto;
}

.video section {
  padding: auto;
}

.youtube {
  margin: 5px;
  max-height: 200px;
  max-width: 350px;
  border: 3px solid black;
  transition: 1.5s;
}
.youtube:hover {
  color: #f8f2f2;
}
.youtube:hover {
  border-radius: 12%;
  border: 3px solid;
}

/* ******************* FOOTER **************** */
footer {
  width: 100%;
}

.footerClass {
  background-color: #0f6162;
  height: 30vh;
}
.footerClass div {
  padding: 1rem;
}/*# sourceMappingURL=style.css.map */